@model FinalArtsShop.Models.Post

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        @*<div class="sparkline13-list"></div>*@
        <div class="sparkline13-list">
            <div class="product-tab-list tab-pane" id="reviews">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h2 class="">Details</h2>

                        <div>
                            <h4>Post</h4>
                            <hr />
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Title)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Title)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Body)
                                </dt>

                                <dd>
                                    @Html.Raw(Model.Body)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Description)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Description)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Thumbnail)
                                </dt>

                                <dd>
                                    <img width="85" height="95" src="https://res.cloudinary.com/daaycakkk/@Model.GetDefaultThumbnail()" alt="Alternate Text" class="img-thumbnail" />
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.View)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.View)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Like)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Like)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.CreatedAt)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.CreatedAt)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.UpdatedAt)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.UpdatedAt)
                                </dd>

                            </dl>
                        </div>
                        <p>
                            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-warring" }) |
                            @Html.ActionLink("Back to List", "Index", new { @class = "btn btn-default" })
                        </p>
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </div>
