@model IEnumerable<FinalArtsShop.Models.Order>
@{
    Layout = "~/Views/Home/Layout/_Layout.cshtml";
    var index = 1;
}
<section id="checkout">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="checkout-area">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="checkout-left">
                                <div class="panel-group" id="accordion">
                                    <div class="panel panel-default aa-checkout-login">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                                    History Order
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Order Number</th>
                                                            <th>Address</th>
                                                            <th>Total</th>
                                                            <th>Status</th>
                                                            <th>See Detail</th>
                                                            <th>Back Order</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var order in Model)
                                                        {
                                                            <tr>
                                                                <td>@order.Id</td>
                                                                <td>
                                                                    @order.Address, @order.City.Name, @order.District.Name
                                                                </td>
                                                                <td>$@order.TotalPrice</td>
                                                                <td class="FullFillStatus">@order.FulfillmentStatus.ToString()</td>
                                                                <td><a class="btn btn-success" data-toggle="modal" data-target="#@order.Id">See Detail</a></td>
                                                                <td><a data-id="@order.Id" class="btn btn-success BackOrder">Back Order</a></td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        @foreach (var order in Model)
                                        {
                                            <!-- Modal -->
                                            <div class="modal fade" id="@order.Id" role="dialog">
                                                <div class="modal-dialog">
                                                    <!-- Modal content-->
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" style="float: right">&times;</button>
                                                            <h4 class="modal-title" style="color: #3FC35F">Order detail</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="table-responsive">
                                                                <table class="table">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>#</th>
                                                                            <th>Product Name</th>
                                                                            <th>Thumbnail</th>
                                                                            <th>Price</th>
                                                                            <th>Quantity</th>
                                                                            <th>Total</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        @foreach (var item in order.OrderItems)
                                                                        {
                                                                            var link = "https://res.cloudinary.com/daaycakkk/image/upload/c_limit,h_55,w_45/" + item.Thumbnail + ".jpg";
                                                                            <tr>
                                                                                <td>@index</td>
                                                                                <td>@item.Name</td>
                                                                                <td>
                                                                                    <img src="@link" />
                                                                                </td>
                                                                                <td>$@item.Price</td>
                                                                                <td>@item.Quantity</td>
                                                                                <td>$@item.TotalItemPrice</td>
                                                                            </tr>
                                                                            index++;
                                                                        }
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-success" data-dismiss="modal" style="float: right">Close</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- SWEET ALERT -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- AJAX call
   ============================================ -->
<script src="~/Scripts/AjaxCallForReturnOrder.js"></script>

