@model IEnumerable<FinalArtsShop.Models.Order>
@{
    Layout = "~/Views/Home/Layout/_Layout.cshtml";

}
<section id="checkout">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="checkout-area">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div class="checkout-left">
                                <div class="panel-group" id="accordion">
                                    <div class="panel panel-default aa-checkout-login">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                                    History Order
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Order Number</th>
                                                            <th>Name</th>
                                                            <th>Address</th>
                                                            <th>Total</th>
                                                            <th>See Detail</th>
                                                            <th>Back Order</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var order in Model)
                                                        {
                                                            <tr>
                                                                <td>@order.Id</td>
                                                                <td>@order.CustomerName</td>
                                                                <td>
                                                                    @order.City.Name, @order.District.Name,  @order.Address
                                                                </td>
                                                                <td>$@order.TotalPrice</td>
                                                                <td><a data-id="@order.Id" class="btn btn-success SeeDetail" data-toggle="modal" data-target="#orderDetailModal">See Detail</a></td>
                                                                <td><a data-id="@order.Id" class="btn btn-success BackOrder">Back Order</a></td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- Modal -->
                                            <div class="modal fade" id="orderDetailModal" role="dialog">
                                                <div class="modal-dialog">

                                                    <!-- Modal content-->
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" style="float: right">&times;</button>
                                                            <h4 class="modal-title" style="color: #3FC35F">Order detail</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="table-responsive">
                                                                <table class="table">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>#</th>
                                                                            <th>Product Name</th>
                                                                            <th>Price</th>
                                                                            <th>Thumbnail</th>
                                                                            <th>Quantity</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>1</td>
                                                                            <td><a href="#">Black Winged Earrings</a></td>
                                                                            <td>$2</td>
                                                                            <td>
                                                                                @*chu y duong links anh co param lay size de hien thi cho dep "c_limit,h_55,w_45"*@
                                                                                <img src="https://res.cloudinary.com/daaycakkk/image/upload/c_limit,h_55,w_45/v1587872991/ujw6rrxbmzbwu78x6hr2.jpg" />
                                                                            </td>
                                                                            <td>5</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>1</td>
                                                                            <td><a href="#">3 circles</a></td>
                                                                            <td>$6</td>
                                                                            <td>
                                                                                @*chu y duong links anh co param lay size de hien thi cho dep "c_limit,h_55,w_45"*@
                                                                                <img src="https://res.cloudinary.com/daaycakkk/image/upload/c_limit,h_55,w_45/v1587872991/ujw6rrxbmzbwu78x6hr2.jpg" />
                                                                            </td>
                                                                            <td>1</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>1</td>
                                                                            <td><a href="#">Skeleton</a></td>
                                                                            <td>$4</td>
                                                                            <td>
                                                                                @*chu y duong links anh co param lay size de hien thi cho dep "c_limit,h_55,w_45"*@
                                                                                <img src="https://res.cloudinary.com/daaycakkk/image/upload/c_limit,h_55,w_45/v1587872991/ujw6rrxbmzbwu78x6hr2.jpg" />
                                                                            </td>
                                                                            <td>2</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-primary" data-dismiss="modal" style="float: right">Close</button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- SWEET ALERT -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- AJAX call
   ============================================ -->
<script src="~/Scripts/AjaxCallForReturnOrder.js"></script>

