@model  FinalArtsShop.Models.ViewShoppingCart

@{
    ViewBag.Title = "My Cart";
    Layout = "~/Views/Home/Layout/_Layout.cshtml";
    int index = 1;
}


<!-- catg header banner section -->
<section id="aa-catg-head-banner">
    <img src="img/fashion/fashion-header-bg-8.jpg" alt="fashion img">
    <div class="aa-catg-head-banner-area">
        <div class="container">
            <div class="aa-catg-head-banner-content">
                <h2>Cart Page</h2>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Cart</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- / catg header banner section -->
<!-- Cart view section -->
<section id="cart-view">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cart-view-area">
                    <div class="cart-view-table">
                        <form action="">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th>Product</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            foreach (var item in Model.shoppingCart.Items.Values)
                                            {
                                                <tr>
                                                    <td><a class="remove" href="/ShoppingCart/RemoveCartItem?productId=@item.ProductId"><fa class="fa fa-close"></fa></a></td>
                                                    <td><a href="#"><img src="@("https://res.cloudinary.com/daaycakkk/image/upload/c_limit,h_300,w_250/v1587872991/" + item.Thumbnail + ".jpg")" alt="img"></a></td>
                                                    <td><a class="aa-cart-title" href="#">@item.Name</a></td>
                                                    <td>$@item.Price</td>
                                                    <td><input class="aa-cart-quantity" type="number" value="@item.Quantity"></td>
                                                    <td>$@item.TotalItemPrice</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </form>
                        <!-- Cart Total view -->
                        <div class="cart-view-total">
                            <h4>Cart Totals</h4>
                            <table class="aa-totals-table">
                                <tbody>
                                    <tr>
                                        <th>Total</th>
                                        <td>$@Model.shoppingCart.TotalPrice</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="#" class="aa-cart-view-btn">Proced to Checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Cart view section -->


@*<h2>Index</h2>

<p>
    @Html.ActionLink("Back To Home", "Home", "Home")
</p>
<table class="table">
    <tr>
        <th>No.</th>
        <th>
            Name
        </th>
        <th>
            Thumbnail
        </th>
        <th>
            Price
        </th>
        <th>Quantity</th>
        <th>Item Total</th>
        <th>Description</th>
        <th></th>
    </tr>

    @foreach (var item in Model.shoppingCart.Items.Values)
    {
        <tr>
            <td>@index</td>
            <td>@item.Name</td>
            <td><img src="@item.Thumbnail" style="width: 150px" /> </td>
            <td>@item.Price </td>
            <td>
                <span>
                    @Html.ActionLink(" ", "RemoveOneItem", new { productId = item.ProductId }, new { @class = "glyphicon glyphicon-triangle-left" }) |
                </span> @item.Quantity <span>
                    | @Html.ActionLink(" ", "AddToCart", new { productId = item.ProductId, quantity = 1 }, new { @class = "glyphicon glyphicon-triangle-right" })
                </span>
            </td>
            <td>@item.TotalItemPrice</td>
            <td>@item.Name</td>
            <td>
                @Html.ActionLink(" ", "RemoveCartItem", new { productId = item.ProductId }, new { @class = "glyphicon glyphicon-trash" })
            </td>
        </tr>
        index++;
    }
</table>
<strong>Total Price: @Model.shoppingCart.TotalPrice (VND)</strong>
@Html.ActionLink("Clear Cart", "ClearShoppingCart")*@