@model FinalArtsShop.Models.ViewProductClient
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Home/Layout/_Layout.cshtml";
}


<!-- product category -->
<section id="aa-product-details">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <br />
                <ol class="breadcrumb">
                    <li><a href="/Home/Home">Home</a></li>
                    <li><a href="/Category/Index">Product</a></li>
                    <li class="active" style="color: #3FC35F">@Model.Product.Name</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="aa-product-details-area">
                    <div class="aa-product-details-content">
                        <div class="row">
                            <!-- Modal view slider -->
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                <div class="aa-product-view-slider">
                                    <div id="demo-1" class="simpleLens-gallery-container">
                                        <div class="simpleLens-container">
                                            <div class="simpleLens-big-image-container"><a data-lens-image="@("https://res.cloudinary.com/daaycakkk/image/upload/c_limit/v1587872991/" + @Model.Product.GetThubnailIds()[0] + ".jpg")" class="simpleLens-lens-image"><img src="@("https://res.cloudinary.com/daaycakkk/image/upload/c_limit,h_300,w_250/v1587872991/" + @Model.Product.GetThubnailIds()[0] + ".jpg")" class="simpleLens-big-image"></a></div>
                                        </div>
                                        <div class="simpleLens-thumbnails-container">
                                            <a data-big-image="@("https://res.cloudinary.com/daaycakkk/image/upload/c_limit,h_300,w_250/v1587872991/" + @Model.Product.GetThubnailIds()[0] + ".jpg")" data-lens-image="@("https://res.cloudinary.com/daaycakkk/image/upload/c_limit,h_1024,w_900/v1587872991/" + @Model.Product.GetThubnailIds()[0] + ".jpg")" class="simpleLens-thumbnail-wrapper" href="#">
                                                <img src="@("https://res.cloudinary.com/daaycakkk/image/upload/c_limit,h_300,w_250/v1587872991/" + @Model.Product.GetThubnailIds()[0] + ".jpg")" width="45px" height="55px">
                                            </a>
                                            <a data-big-image="@("https://res.cloudinary.com/daaycakkk/image/upload/c_limit,h_300,w_250/v1587872991/" + @Model.Product.GetThubnailIds()[1] + ".jpg")" data-lens-image="@("https://res.cloudinary.com/daaycakkk/image/upload/c_limit,h_1024,w_900/v1587872991/" + @Model.Product.GetThubnailIds()[1] + ".jpg")" class="simpleLens-thumbnail-wrapper" href="#">
                                                <img src="@("https://res.cloudinary.com/daaycakkk/image/upload/c_limit,h_300,w_250/v1587872991/" + @Model.Product.GetThubnailIds()[1] + ".jpg")" width="45px" height="55px">
                                            </a>
                                            <a data-big-image="@("https://res.cloudinary.com/daaycakkk/image/upload/c_limit,h_300,w_250/v1587872991/" + @Model.Product.GetThubnailIds()[2] + ".jpg")" data-lens-image="@("https://res.cloudinary.com/daaycakkk/image/upload/c_limit,h_1024,w_900/v1587872991/" + @Model.Product.GetThubnailIds()[2] + ".jpg")" class="simpleLens-thumbnail-wrapper" href="#">
                                                <img src="@("https://res.cloudinary.com/daaycakkk/image/upload/c_limit,h_300,w_250/v1587872991/" + @Model.Product.GetThubnailIds()[2] + ".jpg")" width="45px" height="55px">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal view content -->
                            <div class="col-md-7 col-sm-7 col-xs-12">
                                <div class="aa-product-view-content">
                                    <h3>@Model.Product.Name</h3>
                                    <div class="aa-price-block">
                                        @{
                                            if (@Model.Product.PromotionPrice > 0)
                                            {
                                                <span class="aa-product-view-price" style="font-size: 22px ;color: #3FC35F" ; !important>$@Model.Product.PromotionPrice</span>
                                            }
                                            else
                                            {
                                                <span class="aa-product-view-price" style="font-size: 22px ;color: #3FC35F" ; !important>$@Model.Product.UnitPrice</span>
                                            }
                                        }
                                        @{
                                            if (Model.Product.SellIndex < Model.Product.Unit)
                                            {
                                                <p class="aa-product-avilability">Avilability: <b>In stock</b></p>
                                            }
                                            else
                                            {
                                                <p class="aa-product-avilability">Avilability: <b>Sould Out</b></p>
                                            }
                                        }
                                    </div>
                                    <p>@Model.Product.Description</p>
                                    <div class="aa-prod-quantity">
                                        <form action="">
                                            <select id="quantityViewDetail" name="select-quantity-detail">
                                                <option value="1" selected>1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                            </select>
                                        </form>
                                        <p class="aa-prod-category">
                                            Category: <a href="/Category/Index?id=@Model.Product.Category.Id">@Model.Product.Category.Name</a>
                                        </p>
                                    </div>
                                    <div class="aa-prod-view-bottom">
                                        <a href="/ShoppingCart/AddToCart?productId=@Model.Product.Id&quantity=1" id="add-cart-detail" class="aa-add-to-cart-btn addCartInViewDetail" data-id="@Model.Product.Id">Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="aa-product-details-bottom">
                        <ul class="nav nav-tabs" id="myTab2">
                            <li><a href="#description" data-toggle="tab">Description</a></li>
                            <li><a href="#review" data-toggle="tab">Reviews</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="description">
                                <p>@Model.Product.Description</p>
                            </div>
                            <div class="tab-pane fade " id="review">
                                <div class="aa-product-review-area">
                                    <h4>Reviews</h4>
                                    <ul class="aa-review-nav" id="revCon">
                                        @foreach (var comment in ViewBag.CommentData as List<FinalArtsShop.Models.Comment>)
                                        {
                                            var star = "";
                                            for (var i = 0; i < 5; i++)
                                            {
                                                if (i < comment.Rate)
                                                {
                                                    star += "<span class='fa fa-star'></span>";
                                                }
                                                else
                                                {
                                                    star += "<span class='fa fa-star-o'></span>";
                                                }
                                            }
                                            <li>
                                                <div class="media">
                                                    <div class="media-left">
                                                        <a href="#">
                                                            <img class="media-object" src="https://cdn4.vectorstock.com/i/thumb-large/52/38/avatar-icon-vector-11835238.jpg" alt="girl image">
                                                        </a>
                                                    </div>
                                                    <div class="media-body">
                                                        <h4 class="media-heading"><strong>@comment.Name</strong> - <span>@TimeZoneInfo.ConvertTimeFromUtc((DateTime)comment.CreatedAt, TimeZoneInfo.Local).ToString("MM/dd/yyyy")</span></h4>
                                                        <div class="aa-product-rating">
                                                            @Html.Raw(star)
                                                        </div>
                                                        <p>@comment.Message.</p>
                                                    </div>
                                                </div>
                                            </li>
                                        }

                                    </ul>
                                    <h4>Add a review</h4>
                                    <div class="col-lg-12 no-padding" style="height: 40px">
                                        <div class="rating">
                                            <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5" title="Awesome - 5 stars"></label>
                                            <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4" title="Pretty good - 4 stars"></label>
                                            <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3" title="Meh - 3 stars"></label>
                                            <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                                            <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1" title="Sucks big time - 1 star"></label>
                                        </div>
                                    </div>
                                    <!-- review form -->
                                    <form action="" class="aa-review-form">
                                        <input type="hidden" name="rate" id="rate" value="0">
                                        <input type="hidden" value="@Model.Product.Id" id="idProduct">
                                        <div class="form-group">
                                            <label for="name">Name</label>
                                            <input required type="text" class="form-control" id="name" placeholder="Name">
                                        </div>
                                        <div class="form-group">
                                            <label for="message">Your Review</label>
                                            <textarea required class="form-control" rows="3" id="message"></textarea>
                                        </div>
                                        <button id="submitComment" type="submit" class="btn btn-default aa-review-submit">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Related product -->
                    <div class="aa-product-related-item">
                        <h3>Related Products</h3>
                        <ul class="aa-product-catg aa-related-item-slider">
                            @{
                                foreach (var prod in Model.LatestProducts)
                                {
                                    <!-- start single product item -->
                                    <li>
                                        <figure>
                                            <a class="aa-product-img" href="/Product/Index?id=@prod.Id"><img src="@("https://res.cloudinary.com/daaycakkk/image/upload/c_limit,h_300,w_250/v1587872991/" + @prod.GetThubnailIds()[0] + ".jpg")" alt="" style="display: unset"></a>
                                            <a class="aa-add-card-btn" href="/ShoppingCart/AddToCart?productId=@prod.Id&quantity=1"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                                            <figcaption>
                                                <h4 class="aa-product-title"><a href="/Product/Index?id=@prod.Id">@prod.Name</a></h4>
                                                @{
                                                    if (prod.PromotionPrice > 0)
                                                    {
                                                        <span class="aa-product-price">$@prod.PromotionPrice</span><span class="aa-product-price"><del>$@prod.UnitPrice</del></span>
                                                    }
                                                    else
                                                    {
                                                        <span class="aa-product-price">$@prod.UnitPrice</span>
                                                    }
                                                }
                                            </figcaption>
                                        </figure>
                                        <div class="aa-product-hvr-content">
                                            <a onclick="quickView('@prod.Id', '@prod.Name', @prod.PromotionPrice, @prod.UnitPrice, '@prod.Description', '@prod.Category.Name', '@prod.Category.Id', '@prod.Image', '@prod.GetThubnailIds()[0]', '@prod.GetThubnailIds()[1]', '@prod.GetThubnailIds()[2]')" href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                                        </div>
                                        <!-- product badge -->
                                        @{
                                            if (prod.Unit <= prod.SellIndex)
                                            {
                                                <span class="aa-badge aa-sold-out">Sold Out!</span>
                                            }
                                            else if (prod.isFeature <= 0 && prod.isNew > 0 && prod.Unit >= prod.SellIndex)
                                            {
                                                <span class="aa-badge aa-sale">NEW!</span>
                                            }
                                            else if (prod.isFeature > 0 && prod.Unit >= prod.SellIndex)
                                            {
                                                <span class="aa-badge aa-hot">HOT!</span>
                                            }
                                        }

                                    </li>
                                    <!-- start single product item -->
                                }
                            }
                        </ul>
                        <!-- quick view modal -->
                        <div class="modal fade" id="quick-view-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <div class="row">
                                            <!-- Modal view slider -->
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="aa-product-view-slider">
                                                    <div class="simpleLens-gallery-container" id="demo-1">
                                                        <div class="simpleLens-container">
                                                            <div class="simpleLens-big-image-container">
                                                                <a id="quick-view-image" class="simpleLens-lens-image" data-lens-image="../../MarkUps-dailyShop/dailyShop/img/view-slider/large/polo-shirt-1.png">
                                                                    <img src="~/MarkUps-dailyShop/dailyShop/img/view-slider/medium/polo-shirt-1.png" class="simpleLens-big-image">
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="simpleLens-thumbnails-container">
                                                            <a id="quick-view-thumbnail-1" href="#" class="simpleLens-thumbnail-wrapper"
                                                               data-lens-image="../../MarkUps-dailyShop/dailyShop/img/view-slider/large/polo-shirt-1.png"
                                                               data-big-image="../../MarkUps-dailyShop/dailyShop/img/view-slider/medium/polo-shirt-1.png">
                                                                <img src="~/MarkUps-dailyShop/dailyShop/img/view-slider/thumbnail/polo-shirt-1.png" width="45px" height="55px">
                                                            </a>
                                                            <a id="quick-view-thumbnail-2" href="#" class="simpleLens-thumbnail-wrapper"
                                                               data-lens-image="../../MarkUps-dailyShop/dailyShop/img/view-slider/large/polo-shirt-3.png"
                                                               data-big-image="../../MarkUps-dailyShop/dailyShop/img/view-slider/medium/polo-shirt-3.png">
                                                                <img src="~/MarkUps-dailyShop/dailyShop/img/view-slider/thumbnail/polo-shirt-3.png" width="45px" height="55px">
                                                            </a>

                                                            <a id="quick-view-thumbnail-3" href="#" class="simpleLens-thumbnail-wrapper"
                                                               data-lens-image="../../MarkUps-dailyShop/dailyShop/img/view-slider/large/polo-shirt-4.png"
                                                               data-big-image="../../MarkUps-dailyShop/dailyShop/img/view-slider/medium/polo-shirt-4.png">
                                                                <img src="~/MarkUps-dailyShop/dailyShop/img/view-slider/thumbnail/polo-shirt-4.png" width="45px" height="55px">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Modal view content -->
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="aa-product-view-content">
                                                    <h3>T-Shirt</h3>
                                                    <div class="aa-price-block">
                                                        <span class="aa-product-view-price">$34.99</span>
                                                        <p class="aa-product-avilability">Avilability: <span>In stock</span></p>
                                                    </div>
                                                    <p id="quick-view-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis animi, veritatis quae repudiandae quod nulla porro quidem, itaque quis quaerat!</p>
                                                    <div class="aa-prod-quantity">
                                                        <form action="">
                                                            <select name="select-quantity">
                                                                <option value="1" selected>1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                                <option value="6">6</option>
                                                            </select>
                                                        </form>
                                                        <p class="aa-prod-category">
                                                            Category: <a href="#">Polo T-Shirt</a>
                                                        </p>
                                                    </div>
                                                    <div class="aa-prod-view-bottom">
                                                        <a href="#" id="add-cart" class="aa-add-to-cart-btn"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                                                        <a href="#" id="view-detail" class="aa-add-to-cart-btn">View Details</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div>
                        <!-- / quick view modal -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / product category -->
<style>
    .rating {
        border: none;
        float: left;
    }

        .rating > input {
            display: none;
        }

        .rating > label:before {
            margin: 5px;
            font-size: 1.25em;
            font-family: FontAwesome;
            display: inline-block;
            content: "\f005";
        }

        .rating > .half:before {
            content: "\f089";
            position: absolute;
        }

        .rating > label {
            color: #ddd;
            float: right;
        }

        /***** CSS Magic to Highlight Stars on Hover *****/

        .rating > input:checked ~ label, /* show gold star when clicked */
        .rating:not(:checked) > label:hover, /* hover current star */
        .rating:not(:checked) > label:hover ~ label {
            color: #ff6600;
        }
            /* hover previous stars in list */

            .rating > input:checked + label:hover, /* hover current star when changing rating */
            .rating > input:checked ~ label:hover,
            .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
            .rating > input:checked ~ label:hover ~ label {
                color: #f99c5d;
            }
</style>
@section scripts{
    <!-- SWEET ALERT -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="~/Scripts/CartWithAjax.js"></script>
    <script src="~/Scripts/AjaxCallForComment.js"></script>
}
