@model FinalArtsShop.Models.ViewProductClient
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Home/Layout/_Layout.cshtml";
}


<!-- product category -->
<section id="aa-product-details">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <br />
                <ol class="breadcrumb">
                    <li><a href="/Home/Home">Home</a></li>
                    <li><a href="/Category/Index">Product</a></li>
                    <li class="active" style="color: #3FC35F">@Model.Product.Name</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="aa-product-details-area">
                    <div class="aa-product-details-content">
                        <div class="row">
                            <!-- Modal view slider -->
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                <div class="aa-product-view-slider">
                                    <div id="demo-1" class="simpleLens-gallery-container">
                                        <div class="simpleLens-container">
                                            <div class="simpleLens-big-image-container"><a data-lens-image="@("https://res.cloudinary.com/daaycakkk/image/upload/c_limit/v1587872991/" + @Model.Product.GetThubnailIds()[0] + ".jpg")" class="simpleLens-lens-image"><img src="@("https://res.cloudinary.com/daaycakkk/image/upload/c_limit,h_300,w_250/v1587872991/" + @Model.Product.GetThubnailIds()[0] + ".jpg")" class="simpleLens-big-image"></a></div>
                                        </div>
                                        <div class="simpleLens-thumbnails-container">
                                            <a data-big-image="@("https://res.cloudinary.com/daaycakkk/image/upload/c_limit,h_300,w_250/v1587872991/" + @Model.Product.GetThubnailIds()[0] + ".jpg")" data-lens-image="@("https://res.cloudinary.com/daaycakkk/image/upload/c_limit,h_1024,w_900/v1587872991/" + @Model.Product.GetThubnailIds()[0] + ".jpg")" class="simpleLens-thumbnail-wrapper" href="#">
                                                <img src="@("https://res.cloudinary.com/daaycakkk/image/upload/c_limit,h_300,w_250/v1587872991/" + @Model.Product.GetThubnailIds()[0] + ".jpg")" width="45px" height="55px">
                                            </a>
                                            <a data-big-image="@("https://res.cloudinary.com/daaycakkk/image/upload/c_limit,h_300,w_250/v1587872991/" + @Model.Product.GetThubnailIds()[1] + ".jpg")" data-lens-image="@("https://res.cloudinary.com/daaycakkk/image/upload/c_limit,h_1024,w_900/v1587872991/" + @Model.Product.GetThubnailIds()[1] + ".jpg")" class="simpleLens-thumbnail-wrapper" href="#">
                                                <img src="@("https://res.cloudinary.com/daaycakkk/image/upload/c_limit,h_300,w_250/v1587872991/" + @Model.Product.GetThubnailIds()[1] + ".jpg")" width="45px" height="55px">
                                            </a>
                                            <a data-big-image="@("https://res.cloudinary.com/daaycakkk/image/upload/c_limit,h_300,w_250/v1587872991/" + @Model.Product.GetThubnailIds()[2] + ".jpg")" data-lens-image="@("https://res.cloudinary.com/daaycakkk/image/upload/c_limit,h_1024,w_900/v1587872991/" + @Model.Product.GetThubnailIds()[2] + ".jpg")" class="simpleLens-thumbnail-wrapper" href="#">
                                                <img src="@("https://res.cloudinary.com/daaycakkk/image/upload/c_limit,h_300,w_250/v1587872991/" + @Model.Product.GetThubnailIds()[2] + ".jpg")" width="45px" height="55px">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal view content -->
                            <div class="col-md-7 col-sm-7 col-xs-12">
                                <div class="aa-product-view-content">
                                    <h3>@Model.Product.Name</h3>
                                    <div class="aa-price-block">
                                        @{
                                            if (@Model.Product.PromotionPrice > 0)
                                            {
                                                <span class="aa-product-view-price" style="font-size: 22px ;color: #3FC35F" ; !important>$@Model.Product.PromotionPrice</span>
                                            }
                                            else
                                            {
                                                <span class="aa-product-view-price" style="font-size: 22px ;color: #3FC35F" ; !important>$@Model.Product.UnitPrice</span>
                                            }
                                        }
                                        @{
                                            if (Model.Product.SellIndex < Model.Product.Unit)
                                            {
                                                <p class="aa-product-avilability">Avilability: <b>In stock</b></p>
                                            }
                                            else
                                            {
                                                <p class="aa-product-avilability">Avilability: <b>Sould Out</b></p>
                                            }
                                        }
                                    </div>
                                    <p>@Model.Product.Description</p>
                                    <div class="aa-prod-quantity">
                                        <form action="">
                                            <select id="quantityViewDetail" name="select-quantity-detail">
                                                <option value="1" selected>1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                            </select>
                                        </form>
                                        <p class="aa-prod-category">
                                            Category: <a href="/Category/Index?id=@Model.Product.Category.Id">@Model.Product.Category.Name</a>
                                        </p>
                                    </div>
                                    <div class="aa-prod-view-bottom">
                                        <a href="/ShoppingCart/AddToCart?productId=@Model.Product.Id&quantity=1" id="add-cart-detail" class="aa-add-to-cart-btn addCartInViewDetail" data-id="@Model.Product.Id">Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="aa-product-details-bottom">
                        <ul class="nav nav-tabs" id="myTab2">
                            <li><a href="#description" data-toggle="tab">Description</a></li>
                            <li><a href="#review" data-toggle="tab">Reviews</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="description">
                                <p>@Model.Product.Description</p>
                            </div>
                            <div class="tab-pane fade " id="review">
                                <div class="aa-product-review-area">
                                    <h4>2 Reviews for T-Shirt</h4>
                                    <ul class="aa-review-nav">
                                        <li>
                                            <div class="media">
                                                <div class="media-left">
                                                    <a href="#">
                                                        <img class="media-object" src="~/MarkUps-dailyShop/dailyShop/img/testimonial-img-3.jpg" alt="girl image">
                                                    </a>
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="media-heading"><strong>Marla Jobs</strong> - <span>March 26, 2016</span></h4>
                                                    <div class="aa-product-rating">
                                                        <span class="fa fa-star"></span>
                                                        <span class="fa fa-star"></span>
                                                        <span class="fa fa-star"></span>
                                                        <span class="fa fa-star"></span>
                                                        <span class="fa fa-star-o"></span>
                                                    </div>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="media">
                                                <div class="media-left">
                                                    <a href="#">
                                                        <img class="media-object" src="~/MarkUps-dailyShop/dailyShop/img/testimonial-img-3.jpg" alt="girl image">
                                                    </a>
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="media-heading"><strong>Marla Jobs</strong> - <span>March 26, 2016</span></h4>
                                                    <div class="aa-product-rating">
                                                        <span class="fa fa-star"></span>
                                                        <span class="fa fa-star"></span>
                                                        <span class="fa fa-star"></span>
                                                        <span class="fa fa-star"></span>
                                                        <span class="fa fa-star-o"></span>
                                                    </div>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <h4>Add a review</h4>
                                    <div class="aa-your-rating">
                                        <p>Your Rating</p>
                                        <a href="#"><span class="fa fa-star-o"></span></a>
                                        <a href="#"><span class="fa fa-star-o"></span></a>
                                        <a href="#"><span class="fa fa-star-o"></span></a>
                                        <a href="#"><span class="fa fa-star-o"></span></a>
                                        <a href="#"><span class="fa fa-star-o"></span></a>
                                    </div>
                                    <!-- review form -->
                                    <form action="" class="aa-review-form">
                                        <div class="form-group">
                                            <label for="message">Your Review</label>
                                            <textarea class="form-control" rows="3" id="message"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="name">Name</label>
                                            <input type="text" class="form-control" id="name" placeholder="Name">
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input type="email" class="form-control" id="email" placeholder="example@gmail.com">
                                        </div>

                                        <button type="submit" class="btn btn-default aa-review-submit">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Related product -->
                    <div class="aa-product-related-item">
                        <h3>Related Products</h3>
                        <ul class="aa-product-catg aa-related-item-slider">
                            @{
                                foreach (var prod in Model.LatestProducts)
                                {
                                    <!-- start single product item -->
                                    <li>
                                        <figure>
                                            <a class="aa-product-img" href="/Product/Index?id=@prod.Id"><img src="@("https://res.cloudinary.com/daaycakkk/image/upload/c_limit,h_300,w_250/v1587872991/" + @prod.GetThubnailIds()[0] + ".jpg")" alt="" style="display: unset"></a>
                                            <a class="aa-add-card-btn" href="/ShoppingCart/AddToCart?productId=@prod.Id&quantity=1"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                                            <figcaption>
                                                <h4 class="aa-product-title"><a href="/Product/Index?id=@prod.Id">@prod.Name</a></h4>
                                                @{
                                                    if (prod.PromotionPrice > 0)
                                                    {
                                                        <span class="aa-product-price">$@prod.PromotionPrice</span><span class="aa-product-price"><del>$@prod.UnitPrice</del></span>
                                                    }
                                                    else
                                                    {
                                                        <span class="aa-product-price">$@prod.UnitPrice</span>
                                                    }
                                                }
                                            </figcaption>
                                        </figure>
                                        <div class="aa-product-hvr-content">
                                            <a onclick="quickView('@prod.Id', '@prod.Name', @prod.PromotionPrice, @prod.UnitPrice, '@prod.Description', '@prod.Category.Name', '@prod.Category.Id', '@prod.Image', '@prod.GetThubnailIds()[0]', '@prod.GetThubnailIds()[1]', '@prod.GetThubnailIds()[2]')" href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                                        </div>
                                        <!-- product badge -->
                                        @{
                                            if (prod.Unit <= prod.SellIndex)
                                            {
                                                <span class="aa-badge aa-sold-out">Sold Out!</span>
                                            }
                                            else if (prod.isFeature <= 0 && prod.isNew > 0 && prod.Unit >= prod.SellIndex)
                                            {
                                                <span class="aa-badge aa-sale">NEW!</span>
                                            }
                                            else if (prod.isFeature > 0 && prod.Unit >= prod.SellIndex)
                                            {
                                                <span class="aa-badge aa-hot">HOT!</span>
                                            }
                                        }

                                    </li>
                                    <!-- start single product item -->
                                }
                            }
                        </ul>
                        <!-- quick view modal -->
                        <div class="modal fade" id="quick-view-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <div class="row">
                                            <!-- Modal view slider -->
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="aa-product-view-slider">
                                                    <div class="simpleLens-gallery-container" id="demo-1">
                                                        <div class="simpleLens-container">
                                                            <div class="simpleLens-big-image-container">
                                                                <a id="quick-view-image" class="simpleLens-lens-image" data-lens-image="../../MarkUps-dailyShop/dailyShop/img/view-slider/large/polo-shirt-1.png">
                                                                    <img src="~/MarkUps-dailyShop/dailyShop/img/view-slider/medium/polo-shirt-1.png" class="simpleLens-big-image">
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="simpleLens-thumbnails-container">
                                                            <a id="quick-view-thumbnail-1" href="#" class="simpleLens-thumbnail-wrapper"
                                                               data-lens-image="../../MarkUps-dailyShop/dailyShop/img/view-slider/large/polo-shirt-1.png"
                                                               data-big-image="../../MarkUps-dailyShop/dailyShop/img/view-slider/medium/polo-shirt-1.png">
                                                                <img src="~/MarkUps-dailyShop/dailyShop/img/view-slider/thumbnail/polo-shirt-1.png" width="45px" height="55px">
                                                            </a>
                                                            <a id="quick-view-thumbnail-2" href="#" class="simpleLens-thumbnail-wrapper"
                                                               data-lens-image="../../MarkUps-dailyShop/dailyShop/img/view-slider/large/polo-shirt-3.png"
                                                               data-big-image="../../MarkUps-dailyShop/dailyShop/img/view-slider/medium/polo-shirt-3.png">
                                                                <img src="~/MarkUps-dailyShop/dailyShop/img/view-slider/thumbnail/polo-shirt-3.png" width="45px" height="55px">
                                                            </a>

                                                            <a id="quick-view-thumbnail-3" href="#" class="simpleLens-thumbnail-wrapper"
                                                               data-lens-image="../../MarkUps-dailyShop/dailyShop/img/view-slider/large/polo-shirt-4.png"
                                                               data-big-image="../../MarkUps-dailyShop/dailyShop/img/view-slider/medium/polo-shirt-4.png">
                                                                <img src="~/MarkUps-dailyShop/dailyShop/img/view-slider/thumbnail/polo-shirt-4.png" width="45px" height="55px">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Modal view content -->
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="aa-product-view-content">
                                                    <h3>T-Shirt</h3>
                                                    <div class="aa-price-block">
                                                        <span class="aa-product-view-price">$34.99</span>
                                                        <p class="aa-product-avilability">Avilability: <span>In stock</span></p>
                                                    </div>
                                                    <p id="quick-view-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis animi, veritatis quae repudiandae quod nulla porro quidem, itaque quis quaerat!</p>
                                                    <div class="aa-prod-quantity">
                                                        <form action="">
                                                            <select name="select-quantity">
                                                                <option value="1" selected>1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                                <option value="6">6</option>
                                                            </select>
                                                        </form>
                                                        <p class="aa-prod-category">
                                                            Category: <a href="#">Polo T-Shirt</a>
                                                        </p>
                                                    </div>
                                                    <div class="aa-prod-view-bottom">
                                                        <a href="#" id="add-cart" class="aa-add-to-cart-btn"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                                                        <a href="#" id="view-detail" class="aa-add-to-cart-btn">View Details</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div>
                        <!-- / quick view modal -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / product category -->
@section scripts{
    <!-- SWEET ALERT -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="~/Scripts/CartWithAjax.js"></script>
    <script>
        function quickView(Id, Name, PromotionPrice, UnitPrice, Description, CateName, CateId, Image, Thumbnail_1, Thumbnail_2, Thumbnail_3) {
            String(Id);
            String(Name);
            parseFloat(PromotionPrice);
            parseFloat(UnitPrice);
            String(Description);
            String(CateName);
            parseInt(CateId);
            String(Image);

            $("#quick-view-image").attr("data-lens-image", "https://res.cloudinary.com/daaycakkk/image/upload/c_limit,h_1024,w_900/v1587872991/" + Thumbnail_1 + ".jpg");
            $("#quick-view-image img").attr("src", "https://res.cloudinary.com/daaycakkk/image/upload/c_limit,h_300,w_250/v1587872991/" + Thumbnail_1 + ".jpg");

            $("#quick-view-thumbnail-1").attr("data-lens-image", "https://res.cloudinary.com/daaycakkk/image/upload/c_limit,h_1024,w_900/v1587872991/" + Thumbnail_1 + ".jpg");
            $("#quick-view-thumbnail-1").attr("data-big-image", "https://res.cloudinary.com/daaycakkk/image/upload/c_limit,h_300,w_250/v1587872991/" + Thumbnail_1 + ".jpg");
            $("#quick-view-thumbnail-1 img").attr("src", "https://res.cloudinary.com/daaycakkk/image/upload/c_limit,h_55,w_45/v1587872991/" + Thumbnail_1 + ".jpg");

            $("#quick-view-thumbnail-2").attr("data-lens-image", "https://res.cloudinary.com/daaycakkk/image/upload/c_limit,h_1024,w_900/v1587872991/" + Thumbnail_2 + ".jpg");
            $("#quick-view-thumbnail-2").attr("data-big-image", "https://res.cloudinary.com/daaycakkk/image/upload/c_limit,h_300,w_250/v1587872991/" + Thumbnail_2 + ".jpg");
            $("#quick-view-thumbnail-2 img").attr("src", "https://res.cloudinary.com/daaycakkk/image/upload/c_limit,h_55,w_45/v1587872991/" + Thumbnail_2 + ".jpg");

            $("#quick-view-thumbnail-3").attr("data-lens-image", "https://res.cloudinary.com/daaycakkk/image/upload/c_limit,h_1024,w_900/v1587872991/" + Thumbnail_3 + ".jpg");
            $("#quick-view-thumbnail-3").attr("data-big-image", "https://res.cloudinary.com/daaycakkk/image/upload/c_limit,h_300,w_250/v1587872991/" + Thumbnail_3 + ".jpg");
            $("#quick-view-thumbnail-3 img").attr("src", "https://res.cloudinary.com/daaycakkk/image/upload/c_limit,h_55,w_45/v1587872991/" + Thumbnail_3 + ".jpg");

            $(".aa-product-view-content h3").html(Name);
            if (PromotionPrice > 0) {
                $(".aa-product-view-price").html("$" + PromotionPrice);
            } else {
                $(".aa-product-view-price").html("$" + UnitPrice);
            }

            $("#quick-view-description").html(Description);

            $(".aa-prod-category a").html(CateName);
            $(".aa-prod-category a").attr("href", "/Category/Index?id=" + CateId);

            $("#add-cart").attr("href", "/ShoppingCart/AddToCart?productId=" + Id + "&quantity=1");
            $("#view-detail").attr("href", "/Product/Index?id=" + Id);

        }

        $("select[name=select-quantity]").change(function () {
            var quantity = $("select[name=select-quantity]").val();
            var href = $("#add-cart").attr("href");
            href = href.substr(0, (href.indexOf("&quantity=") + 10));
            $("#add-cart").attr("href", href + quantity);
        });

        $("select[name=select-quantity-detail]").change(function () {
            var quantity = $("select[name=select-quantity-detail]").val();
            var href = $("#add-cart-detail").attr("href");
            href = href.substr(0, (href.indexOf("&quantity=") + 10));
            $("#add-cart-detail").attr("href", href + quantity);
        });
    </script>
}
