
@{
    ViewBag.Title = "Confirm";
    Layout = "~/Views/Home/Layout/_Layout.cshtml";
}
@{
    var data = ViewBag.Message;
    var totalPrice = data.TotalPrice * 100;
}
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div style="margin-bottom: 8vh; margin-top: 8vh" class="col-md-6">
            <h2 class="text-center">Confirm Stripe Payment</h2>
            <div>
                <p>
                    Dear
                    <b>
                        @if (data.CustomerName == null || data.CustomerName == "")
                        {
                            Html.Raw("You,");
                        }
                        @data.CustomerName,
                    </b>
                </p>
                <p> Your order No. <b>@data.Id</b> has been successfully created!</p>
                <p> Please make payment at the time of delivery. Our customer service officers will contact you soon!</p>
            </div>
            <div>
                <form action="/Checkout/Charge" method="POST">
                    <article>
                        <label>Amount: $@data.TotalPrice</label>
                    </article>
                    <input class="input-group" type="hidden" name="amount" value="@totalPrice" />
                    <input type="hidden" name="orderId" value="@data.Id" />
                    <p class="text-center">
                        <script src="//checkout.stripe.com/v2/checkout.js"
                                class="stripe-button"
                                data-key="@ViewBag.StripePublishKey"
                                data-locale="auto"
                                data-description="Sample Charge"
                                data-amount="@totalPrice">
                        </script>
                    </p>
                </form>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>




