@using System.Collections
@using FinalArtsShop.Models
@model FinalArtsShop.Models.ViewCheckoutClient
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Home/Layout/_Layout.cshtml";

    ShoppingCart shoppingCart = null;
    if (Session["ShoppingCartName"] != null)
    {
        try
        {
            shoppingCart = Session["ShoppingCartName"] as ShoppingCart;
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }

    if (shoppingCart == null)
    {
        shoppingCart = new ShoppingCart();
    }
}

<!-- catg header banner section -->
@*<section id="aa-catg-head-banner">
        <img src="~/MarkUps-dailyShop/dailyShop/img/fashion/fashion-header-bg-8.jpg" alt="fashion img">
        <div class="aa-catg-head-banner-area">
            <div class="container">
                <div class="aa-catg-head-banner-content">
                    <h2>Checkout Page</h2>
                    <ol class="breadcrumb">
                        <li><a href="~/MarkUps-dailyShop/dailyShop/index.html">Home</a></li>
                        <li class="active">Checkout</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>*@
<!-- / catg header banner section -->
<!-- Cart view section -->
<section id="checkout">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="checkout-area">
                    <form action="/Checkout/PlaceOrder" method="post">
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-md-8">
                                <div class="checkout-left">
                                    <div class="panel-group" id="accordion">
                                        <!-- Billing Details -->
                                        <div class="panel panel-default aa-checkout-billaddress">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="" aria-expanded="true">
                                                        Billing Details
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseThree" class="panel-collapse collapse in" aria-expanded="true">
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="aa-checkout-single-bill">
                                                                <input name="email" type="email" placeholder="Email Address*" value="@Model.User.Email">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="aa-checkout-single-bill">
                                                                <input name="phoneNumber" type="tel" placeholder="Phone*" value="@Model.User.PhoneNumber">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="aa-checkout-single-bill">
                                                                <select id="city" name="city">
                                                                    <option value="0">Select Your City</option>
                                                                    @foreach (var item in Model.Cities)
                                                                    {
                                                                    <option value="@item.Id">@item.Name</option>

                                                                    }
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="aa-checkout-single-bill">
                                                                <select id="district" name="district">
                                                                    <option value="0">Select Your District</option>
                                                                    @foreach (var item in Model.Districts)
                                                                    {
                                                                    <option data-num="@item.ShippingFee" value="@item.Id">@item.Name</option>

                                                                    }
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="aa-checkout-single-bill">
                                                                <select id="deliveryType" name="deliveryType">
                                                                    <option value="0">Select Type Delivery</option>
                                                                    @foreach (var item in Model.DeliveryTypes)
                                                                    {
                                                                    <option data-num="@item.Factor" value="@item.Id">@item.Name</option>

                                                                    }
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="aa-checkout-single-bill">
                                                                <textarea cols="8" rows="3" name="address">Address*</textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="aa-checkout-single-bill">
                                                                <textarea value="" name="note" cols="8" rows="2" placeholder="Note*"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="checkout-right">
                                    <h4>Order Summary</h4>
                                    <div class="aa-order-summary-area">
                                        <table class="table table-responsive">
                                            <thead>
                                                <tr>
                                                    <th>Product</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in shoppingCart.Items)
                                                {
                                                <tr>
                                                    <td> @item.Value.Name <strong> x @item.Value.Quantity</strong></td>
                                                    <td>$ @item.Value.TotalItemPrice </td>
                                                </tr>
                                                }

                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th>Subtotal</th>
                                                    <td>
                                                        <span id="subtotal">$ @shoppingCart.TotalPrice</span>
                                                        <input type="hidden" value="@shoppingCart.TotalPrice" id="inputSubTotal">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>Shipping fee</th>
                                                    <td>
                                                        <span id="shippingfee">$ 0</span>

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>Total</th>
                                                    <td>
                                                        <span id="total">$ 0</span>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <h4>Payment Method</h4>
                                    <div class="aa-payment-method">
                                        <label for="vpp"><input type="radio" id="vpp" name="optionsRadios" value="2"> VPP </label>
                                        <label for="paypal"><input type="radio" id="paypal" name="optionsRadios" checked value="1"> Via Paypal </label>
                                        <img src="https://www.paypalobjects.com/webstatic/mktg/logo/AM_mc_vs_dc_ae.jpg" border="0" alt="PayPal Acceptance Mark">
                                        <label for="check"><input type="radio" id="check" name="optionsRadios" checked value="3"> Cheque </label>
                                        <label for="creditcard"><input type="radio" id="cd" name="optionsRadios" checked value="4"> Credit Card </label>
                                        <input type="submit" value="Place Order" class="aa-browse-btn">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- AJAX call
   ============================================ -->
<script src="~/Scripts/ShippingFeeAjax.js"></script>


