@using FinalArtsShop.Models
@model LoginViewModel

@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Home/Layout/_Layout.cshtml";
}

<!-- Cart view section -->
<section id="aa-myaccount">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="aa-myaccount-area">
                    <div class="row">
                        <section id="loginForm" class="col-md-12">
                            <div class="aa-myaccount-login">
                                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <h2>Log in.</h2>
                                    <hr/>
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                        <div class="col-md-10">
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">
                                            <div class="checkbox" style="padding-top: 0px; !important">
                                                @Html.CheckBoxFor(m => m.RememberMe, new { @style = "margin-left: 1vh; !important" })
                                                @Html.LabelFor(m => m.RememberMe, new { @style = "padding-left: 4vh; !important" })
                                            </div>
                                        </div>
                                        <div class="col-md-6" style="text-align: right">
                                            @Html.ActionLink("Don't have an account?", "Register", new { @style = "float: right" })
                                        </div>
                                    </div>
                                    <div class="form-group text-center">
                                        <input style="background-color: #3fc35f !important" type="submit" value="Log in" class="btn-lg btn btn-success" />
                                    </div>
                                }
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Cart view section -->
@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@