@model FinalArtsShop.Models.ViewCategoryClient
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Home/Layout/_Layout.cshtml";
}

@section bodyClass {
    class="productPage"
}

<!-- catg header banner section -->
<section id="aa-catg-head-banner">
    <img src="~/MarkUps-dailyShop/dailyShop/img/fashion/fashion-header-bg-8.jpg" alt="fashion img">
    <div class="aa-catg-head-banner-area">
        <div class="container">
            <div class="aa-catg-head-banner-content">
                <h2>@ViewBag.CateName</h2>
                <ol class="breadcrumb">
                    <li><a href="/Home/Home">Home</a></li>
                    <li class="active">@ViewBag.CateName</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- / catg header banner section -->
<!-- product category -->
<section id="aa-product-category">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-8 col-md-push-3">
                <div class="aa-product-catg-content">
                    <div class="aa-product-catg-head">
                        <div class="aa-product-catg-head-left">
                            <form action="" class="aa-sort-form">
                                <label for="">Sort by</label>
                                <select name="">
                                    <option value="1" selected="Default">Default</option>
                                    <option value="2">Name</option>
                                    <option value="3">Price</option>
                                    <option value="4">Date</option>
                                </select>
                            </form>
                            @*<form action="" class="aa-show-form">
                                    <label for="">Show</label>
                                    <select name="">
                                        <option value="1" selected="12">12</option>
                                        <option value="2">24</option>
                                        <option value="3">36</option>
                                    </select>
                                </form>*@
                        </div>
                        <div class="aa-product-catg-head-right">
                            <a id="grid-catg" href="#"><span class="fa fa-th"></span></a>
                            <a id="list-catg" href="#"><span class="fa fa-list"></span></a>
                        </div>
                    </div>
                    <div class="aa-product-catg-body">
                        <ul class="aa-product-catg">
                            @{
                                foreach (var prod in Model.Products)
                                {
                                    <!-- start single product item -->
                                    <li>
                                        <figure>
                                            <a class="aa-product-img" href="/Product/Index?id=@prod.Id"><img src="~/MarkUps-dailyShop/dailyShop/img/electronics/@prod.Image" alt="" width="250px" height="300px"></a>
                                            <a class="aa-add-card-btn" href="/ShoppingCart/AddToCart?productId=@prod.Id&quantity=1"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                                            <figcaption>
                                                <h4 class="aa-product-title"><a href="/Product/Index?id=@prod.Id">@prod.Name</a></h4>
                                                @{
                                                    if (prod.PromotionPrice > 0)
                                                    {
                                                        <span class="aa-product-price">@prod.PromotionPrice</span><span class="aa-product-price"><del>@prod.UnitPrice</del></span>
                                                    }
                                                    else
                                                    {
                                                        <span class="aa-product-price">@prod.UnitPrice</span>
                                                    }
                                                }
                                            </figcaption>
                                        </figure>
                                        <div class="aa-product-hvr-content">
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
                                            <a onclick="quickView('@prod.Id', '@prod.Name', @prod.PromotionPrice, @prod.UnitPrice, '@prod.Description', '@prod.Category.Name', '@prod.Category.Id', '@prod.Image', '@prod.Thumbnail')" href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                                        </div>
                                        <!-- product badge -->
                                        @{
                                            if (prod.Unit <= prod.SellIndex)
                                            {
                                                <span class="aa-badge aa-sold-out">Sold Out!</span>
                                            }
                                            else if (prod.isFeature <= 0 && prod.isNew > 0 && prod.Unit >= prod.SellIndex)
                                            {
                                                <span class="aa-badge aa-sale">NEW!</span>
                                            }
                                            else if (prod.isFeature > 0 && prod.Unit >= prod.SellIndex)
                                            {
                                                <span class="aa-badge aa-hot">HOT!</span>
                                            }
                                        }

                                    </li>
                                }
                            }

                        </ul>
                        <!-- quick view modal -->
                        <div class="modal fade" id="quick-view-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <div class="row">
                                            <!-- Modal view slider -->
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="aa-product-view-slider">
                                                    <div class="simpleLens-gallery-container" id="demo-1">
                                                        <div class="simpleLens-container">
                                                            <div class="simpleLens-big-image-container">
                                                                <a id="quick-view-image" class="simpleLens-lens-image" data-lens-image="../../MarkUps-dailyShop/dailyShop/img/view-slider/large/polo-shirt-1.png">
                                                                    <img src="~/MarkUps-dailyShop/dailyShop/img/view-slider/medium/polo-shirt-1.png" class="simpleLens-big-image" width="250px" height="300px">
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="simpleLens-thumbnails-container">
                                                            <a id="quick-view-thumbnail-1" href="#" class="simpleLens-thumbnail-wrapper"
                                                               data-lens-image="../../MarkUps-dailyShop/dailyShop/img/view-slider/large/polo-shirt-1.png"
                                                               data-big-image="../../MarkUps-dailyShop/dailyShop/img/view-slider/medium/polo-shirt-1.png">
                                                                <img src="~/MarkUps-dailyShop/dailyShop/img/view-slider/thumbnail/polo-shirt-1.png" width="45px" height="55px">
                                                            </a>
                                                            <a id="quick-view-thumbnail-2" href="#" class="simpleLens-thumbnail-wrapper"
                                                               data-lens-image="../../MarkUps-dailyShop/dailyShop/img/view-slider/large/polo-shirt-3.png"
                                                               data-big-image="../../MarkUps-dailyShop/dailyShop/img/view-slider/medium/polo-shirt-3.png">
                                                                <img src="~/MarkUps-dailyShop/dailyShop/img/view-slider/thumbnail/polo-shirt-3.png" width="45px" height="55px">
                                                            </a>

                                                            <a id="quick-view-thumbnail-3" href="#" class="simpleLens-thumbnail-wrapper"
                                                               data-lens-image="../../MarkUps-dailyShop/dailyShop/img/view-slider/large/polo-shirt-4.png"
                                                               data-big-image="../../MarkUps-dailyShop/dailyShop/img/view-slider/medium/polo-shirt-4.png">
                                                                <img src="~/MarkUps-dailyShop/dailyShop/img/view-slider/thumbnail/polo-shirt-4.png" width="45px" height="55px">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Modal view content -->
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="aa-product-view-content">
                                                    <h3>T-Shirt</h3>
                                                    <div class="aa-price-block">
                                                        <span class="aa-product-view-price">$34.99</span>
                                                        <p class="aa-product-avilability">Avilability: <span>In stock</span></p>
                                                    </div>
                                                    <p id="quick-view-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis animi, veritatis quae repudiandae quod nulla porro quidem, itaque quis quaerat!</p>
                                                    <div class="aa-prod-quantity">
                                                        <form action="">
                                                            <select name="">
                                                                <option value="0" selected="1">1</option>
                                                                <option value="1">2</option>
                                                                <option value="2">3</option>
                                                                <option value="3">4</option>
                                                                <option value="4">5</option>
                                                                <option value="5">6</option>
                                                            </select>
                                                        </form>
                                                        <p class="aa-prod-category">
                                                            Category: <a href="#">Polo T-Shirt</a>
                                                        </p>
                                                    </div>
                                                    <div class="aa-prod-view-bottom">
                                                        <a href="#" id="add-cart" class="aa-add-to-cart-btn"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                                                        <a href="#" id="view-detail" class="aa-add-to-cart-btn">View Details</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div>
                        <!-- / quick view modal -->
                    </div>
                    <div class="aa-product-catg-pagination">
                        <nav>
                            <ul class="pagination">
                                <li>
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-md-pull-9">
                <aside class="aa-sidebar">
                    <!-- single sidebar -->
                    <div class="aa-sidebar-widget">
                        <h3>Category</h3>
                        <ul class="aa-catg-nav">
                            @{
                                foreach (var cate in Model.CategoriesMenu)
                                {
                                    if (cate.Parent == 0)
                                    {
                                        <li><a href="/Category/Index?id=@cate.Id">@cate.Name</a></li>
                                    }
                                }
                            }
                        </ul>
                    </div>
                    <!-- single sidebar -->
                    <!-- single sidebar -->
                    <div class="aa-sidebar-widget">
                        <h3>Shop By Price</h3>
                        <!-- price range -->
                        <div class="aa-sidebar-price-range">
                            <form action="">
                                <div id="skipstep" class="noUi-target noUi-ltr noUi-horizontal noUi-background">
                                </div>
                                <span id="skip-value-lower" class="example-val">30.00</span>
                                <span id="skip-value-upper" class="example-val">100.00</span>
                                <button class="aa-filter-btn" type="submit">Filter</button>
                            </form>
                        </div>

                    </div>
                    <!-- single sidebar -->
                    <!-- single sidebar -->
                    <div class="aa-sidebar-widget">
                        <h3>Recently Views</h3>
                        <div class="aa-recently-views">
                            <ul>
                                @{
                                    foreach (var prodRate in Model.LatestProducts)
                                    {
                                        <li>
                                            <a href="/Product/Index?id=@prodRate.Id" class="aa-cartbox-img"><img alt="img" src="~/MarkUps-dailyShop/dailyShop/img/electronics/@prodRate.Image"></a>
                                            <div class="aa-cartbox-info">
                                                <h4><a href="/Product/Index?id=@prodRate.Id">@prodRate.Name</a></h4>
                                                @{
                                                    if (prodRate.PromotionPrice > 0)
                                                    {
                                                        <p>1 x $@prodRate.PromotionPrice</p>
                                                    }
                                                    else
                                                    {
                                                        <p>1 x $@prodRate.UnitPrice</p>
                                                    }
                                                }
                                            </div>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                    <!-- single sidebar -->
                    <div class="aa-sidebar-widget">
                        <h3>Top Rated Products</h3>
                        <div class="aa-recently-views">
                            <ul>
                                @{
                                    foreach (var prodRate in Model.FeatureProducts)
                                    {
                                        <li>
                                            <a href="/Product/Index?id=@prodRate.Id" class="aa-cartbox-img"><img alt="img" src="~/MarkUps-dailyShop/dailyShop/img/electronics/@prodRate.Image"></a>
                                            <div class="aa-cartbox-info">
                                                <h4><a href="/Product/Index?id=@prodRate.Id">@prodRate.Name</a></h4>
                                                @{
                                                    if (prodRate.PromotionPrice > 0)
                                                    {
                                                        <p>1 x $@prodRate.PromotionPrice</p>
                                                    }
                                                    else
                                                    {
                                                        <p>1 x $@prodRate.UnitPrice</p>
                                                    }
                                                }
                                            </div>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </aside>
            </div>

        </div>
    </div>
</section>
<!-- / product category -->
@section scripts{

    <script>
        function quickView(Id, Name, PromotionPrice, UnitPrice, Description, CateName, CateId, Image, Thumbnail) {
            String(Id);
            String(Name);
            parseFloat(PromotionPrice);
            parseFloat(UnitPrice);
            String(Description);
            String(CateName);
            parseInt(CateId);
            String(Image);
            String(Thumbnail);

            $("#quick-view-image").attr("data-lens-image", "../../MarkUps-dailyShop/dailyShop/img/electronics/" + Image);
            $("#quick-view-image img").attr("src", "/MarkUps-dailyShop/dailyShop/img/electronics/" + Image);

            $("#quick-view-thumbnail-1").attr("data-lens-image", "../../MarkUps-dailyShop/dailyShop/img/electronics/" + Image);
            $("#quick-view-thumbnail-1").attr("data-big-image", "../../MarkUps-dailyShop/dailyShop/img/electronics/" + Image);
            $("#quick-view-thumbnail-1 img").attr("src", "/MarkUps-dailyShop/dailyShop/img/electronics/" + Image);

            $("#quick-view-thumbnail-2").attr("data-lens-image", "../../MarkUps-dailyShop/dailyShop/img/electronics/" + Image);
            $("#quick-view-thumbnail-2").attr("data-big-image", "../../MarkUps-dailyShop/dailyShop/img/electronics/" + Image);
            $("#quick-view-thumbnail-2 img").attr("src", "/MarkUps-dailyShop/dailyShop/img/electronics/" + Image);

            $("#quick-view-thumbnail-3").attr("data-lens-image", "../../MarkUps-dailyShop/dailyShop/img/electronics/" + Image);
            $("#quick-view-thumbnail-3").attr("data-big-image", "../../MarkUps-dailyShop/dailyShop/img/electronics/" + Image);
            $("#quick-view-thumbnail-3 img").attr("src", "/MarkUps-dailyShop/dailyShop/img/electronics/" + Image);

            $(".aa-product-view-content h3").html(Name);
            if (PromotionPrice > 0) {
                $(".aa-product-view-price").html(PromotionPrice);
            } else {
                $(".aa-product-view-price").html(UnitPrice);
            }

            $("#quick-view-description").html(Description);

            $(".aa-prod-category a").html(CateName);
            $(".aa-prod-category a").attr("href", "/Category/Index?id=" + CateId);

            $("#add-cart").attr("href", "/ShoppingCart/AddToCart?productId=" + Id + "&quantity=1");
            $("#view-detail").attr("href", "/Product/Index?id=" + Id);
        }
    </script>
}