@model IEnumerable<FinalArtsShop.Models.Product>

@{
    ViewBag.Title = "Index";
}

@section AddCss{
    <!-- x-editor CSS
        ============================================ -->
    <link rel="stylesheet" href="~/kiaalap-master/css/editor/select2.css">
    <link rel="stylesheet" href="~/kiaalap-master/css/editor/datetimepicker.css">
    <link rel="stylesheet" href="~/kiaalap-master/css/editor/bootstrap-editable.css">
    <link rel="stylesheet" href="~/kiaalap-master/css/editor/x-editor-style.css">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="~/kiaalap-master/css/data-table/bootstrap-table.css">
    <link rel="stylesheet" href="~/kiaalap-master/css/data-table/bootstrap-editable.css">
}
<!-- Static Table Start -->
<div class="data-table-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="sparkline13-list">
                    <div class="sparkline13-hd">
                        <div class="main-sparkline13-hd">
                            <h1 id="targetName">Products</h1>
                            <p>
                                @Html.ActionLink("Create New", "Create")
                            </p>
                            <hr />
                        </div>
                    </div>
                    <div class="sparkline13-graph">
                        <div class="datatable-dashv1-list custom-datatable-overright">
                            <div id="toolbar">
                                <select class="form-control dt-tb">
                                    <option value="">Export Basic</option>
                                    <option value="all">Export All</option>
                                    <option value="selected">Export Selected</option>
                                </select>
                            </div>
                            <div style="width: 200px">
                                <form action="/Admin/Products/Index" method="get" name="search-form">
                                    <input type="hidden" name="start" />
                                    <input type="hidden" name="end" />
                                    @*<div class="form-group">
                                        <input type="submit" class="btn btn-primary" value="Search" />
                                    </div>*@
                                </form>
                                <label for="daterange">Search by time :</label>
                                <input type="text" name="daterange" class="form-control" />
                            </div>
                            <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true"
                                   data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                                <thead>
                                    <tr>
                                        <th data-field="state" data-checkbox="true"></th>
                                        <th data-field="id">ID</th>
                                        <th data-field="category">Category</th>
                                        <th data-field="name">Name</th>
                                        <th data-field="unit" data-sortable="true">Unit</th>
                                        <th data-field="price" data-sortable="true">Price</th>
                                        <th data-field="createdat" data-sortable="true">CreatedAt</th>
                                        <th data-field="action">Action</th>
                                        <th data-field="comment">View Comment</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr data-id="@item.Id">
                                            <td></td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Id)
                                            </td>
                                            <td>
                                                @item.Category.Name
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Unit)
                                            </td>
                                            <td>
                                                @if (item.PromotionPrice == 0)
                                                {
                                                    @Html.DisplayFor(modelItem => item.UnitPrice)
                                                }
                                                else
                                                {
                                                    @Html.DisplayFor(modelItem => item.PromotionPrice)
                                                }

                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CreatedAt)
                                            </td>
                                            <td class="datatable-ct">
                                                @Html.ActionLink(" ", "Details", new { Id = item.Id }, new { @class = "glyphicon glyphicon-info-sign" }) |
                                                @Html.ActionLink(" ", "Edit", new { Id = item.Id }, new { @class = "glyphicon glyphicon-edit" })
                                            </td>
                                            <td>
                                                @Html.ActionLink("View Comment", "ViewComment", new { Id = item.Id }, new { @style="color: white;", @class = "btn btn-primary" })
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <button style="margin-bottom: 80px; margin-top: 10px; font-family: 'Roboto', sans-serif;" id="deleteAll" type="button" class="btn btn-primary waves-effect waves-light">Delete Selected</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Addscripts{
    <!-- data table JS
    ============================================ -->
    <script src="~/kiaalap-master/js/data-table/bootstrap-table.js"></script>
    <script src="~/kiaalap-master/js/data-table/tableExport.js"></script>
    <script src="~/kiaalap-master/js/data-table/data-table-active.js"></script>
    <script src="~/kiaalap-master/js/data-table/bootstrap-table-editable.js"></script>
    <script src="~/kiaalap-master/js/data-table/bootstrap-editable.js"></script>
    <script src="~/kiaalap-master/js/data-table/bootstrap-table-resizable.js"></script>
    <script src="~/kiaalap-master/js/data-table/colResizable-1.5.source.js"></script>
    <script src="~/kiaalap-master/js/data-table/bootstrap-table-export.js"></script>
    <!--  editable JS
    ============================================ -->
    <script src="~/kiaalap-master/js/editable/jquery.mockjax.js"></script>
    <script src="~/kiaalap-master/js/editable/mock-active.js"></script>
    <script src="~/kiaalap-master/js/editable/select2.js"></script>
    <script src="~/kiaalap-master/js/editable/moment.min.js"></script>
    <script src="~/kiaalap-master/js/editable/bootstrap-datetimepicker.js"></script>
    <script src="~/kiaalap-master/js/editable/bootstrap-editable.js"></script>
    <script src="~/kiaalap-master/js/editable/xediable-active.js"></script>
    <!-- Chart JS
    ============================================ -->
    <script src="~/kiaalap-master/js/chart/jquery.peity.min.js"></script>
    <script src="~/kiaalap-master/js/peity/peity-active.js"></script>
    <!-- tab JS
    ============================================ -->
    <script src="~/kiaalap-master/js/tab.js"></script>
    <!-- AJAX call
    ============================================ -->
    <script src="~/Scripts/AjaxCall.js"></script>
}

@section scripts{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <script>
        var start = moment().subtract(29, 'days');
        var end = moment();

        var url_string = location.href;
        var url = new URL(url_string);
        var initStart = url.searchParams.get('start');
        var initEnd = url.searchParams.get('end');

        if (initStart != null && moment(initStart, 'YYYY-MM-DD', true).isValid()) {
            start = initStart;
            $('input[name=start]').val(start);
        }
        if (initEnd != null && moment(initEnd, 'YYYY-MM-DD', true).isValid()) {
            end = initEnd;
            $('input[name=end]').val(end);
        }

        $('input[name=daterange]').daterangepicker({
            startDate: start,
            endDate: end,
            locale: {
                format: 'YYYY-MM-DD'
            },
            ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        });

        $('input[name="daterange"]').on('apply.daterangepicker', function (ev, picker) {
            var startPara = picker.startDate.format('YYYY-MM-DD');
            var endPara = picker.endDate.format('YYYY-MM-DD');
            $('input[name=start]').val(startPara);
            $('input[name=end]').val(endPara);
            $('form[name=search-form]').submit();
        });

        $('input[name="daterange"]').on('cancel.daterangepicker', function (ev, picker) {
            $(this).val('');
            $('input[name=start]').val('');
            $('input[name=end]').val('');
            $('form[name=search-form]').submit();
        });

    </script>
}